@keyframes glow {
    0% { box-shadow: 0 0 5px #4caf50, 0 0 10px #4caf50, 0 0 15px #4caf50, 0 0 20px #4caf50; }
    100% { box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50, 0 0 40px #4caf50; }
}

.shine {
    animation: glow 2s ease-in-out infinite alternate;
    border-color: #4caf50;
}

.shine.stop {
  animation: none;
  border-color: #ccc;
}

.invisible {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    border: none;
}
